<h2>Add a New Post</h2>

<form method="POST" action="/posts">
    <label>Select User:</label>
    <select name="user_id">
        <% @users.each do |user| %>
            <option value="<%= user.id %>"><%= user.name %></option>
        <% end %>
    </select>
    <br>
    <label>Title:</label>
    <input type="text" name="title">
    <br>
    <label>Body:</label>
    <textarea name="body"></textarea>
    <br>
    <input type="submit">
</form>